<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="bottomThreshold">
      <th mat-header-cell *matHeaderCellDef> bottomThreshold </th>
      <td mat-cell *matCellDef="let element"> {{element.bottomThreshold}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="topThreshold">
      <th mat-header-cell *matHeaderCellDef> topThreshold </th>
      <td mat-cell *matCellDef="let element"> {{element.topThreshold}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openDialog(row)" class="row"></tr>
  </table>
</div>
