<h1 mat-dialog-title>Sensor: {{data.name}}</h1>
<div mat-dialog-content>
  <p>Edit range</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.topThreshold">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.bottomThreshold">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>No Thanks</button>
  <button mat-button [mat-dialog-close]="data" (click)="onYesClick()" cdkFocusInitial>Ok</button>
</div>
