.example-container {
  margin-left: 20px;
  margin-right: 20px;
  height: 90vh;
  overflow: auto;
}

table {
  width: 100%;
}


.input-wrapper {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

input {
  width: 260px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
  cursor: pointer;
}
