.content {
  display: block;
  height: 90vh;
}

.settings {
  height: 15%;
  min-height: 100px;

}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: darkgrey;
}
/* Font color */
input.mat-input-element {
  color: darkgrey;

}

label {
  color: darkgrey !important;
}

.fixed {
  overflow: inherit !important;
}

.example-container {
  margin: auto;
}

gridster-item {
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

input {
  width: 260px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
  cursor: pointer;
}
